
.main-title {
    background-color :#1C1C1C;
    color: #D9B01C;
    display: block;
    flex-direction: column;
}
.img-detective{
    max-height: 20rem;
    
 }

.img{
   height: 20rem;
   width: 20rem;
   border-radius: 10px;
}


.explication {
    background-color :#1C1C1C;
    color: #D9B01C;
    text-align: center;
    font-size: large;

}
.explication > h1{
    text-align: left;
    margin-left: 1rem;
}
.word-tof {
    max-width: 5rem;
    max-height: 5rem;
    transition: opacity 0.3s ease-in-out;
}
.word-tof:hover {
    opacity: 0.7; 
}
.button-set{
    display: flex;
    justify-content: center;
}
button {
    color: #D9B01C;
    background-color :#1C1C1C;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    display: flex;
    
}
.avis {
    text-align: left;
    color: #D9B01C;
    font-size: large;
    justify-content: space-around;
}
.avis h1{
    margin-top: 6rem;
    margin-left: 1rem;
}

.article1 {
    margin-top: 5rem;
    font-size: x-large;
    text-align: center;
    color: #D9B01C;
    background-color :#1C1C1C;
    margin-bottom: 1rem;
    
}
.article2 {
    font-size: large;
    text-align: center;
    background-color :#1C1C1C;
    color: #D9B01C; 
    margin-bottom: 1rem;  
}
.article3 {
    font-size: large;
    text-align: center;
    background-color :#1C1C1C;
    color: #D9B01C;   
}

h5{
    font-size: medium;
}

