
.main-title {
   
    color: #D9B01C;
    display: block;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.img-detective{
    max-height: 20rem;
 }

.img-tidus{
   height: 20rem;
   width: 20rem;
   border-radius: 10px;
}
.scenar-set{
    display: flex;
    justify-content: center;
}

.explication {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color :#434f43;
    color: #D9B01C;
    text-align: center;
    font-size: large;

}
.explication > h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin-left: 1rem;
}

.button-set{
    display: flex;
    justify-content: center;
}
.button-toutou {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #D9B01C;
    background-color :#434f43;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    display: flex;
    
}
.scenar-button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #D9B01C;
    background-color :#434f43;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 0.5rem 1rem
}
.avis {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    color: #D9B01C;
    font-size: large;
    justify-content: space-around;
}
.avis h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 6rem;
    margin-left: 1rem;
}

.article1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 5rem;
    font-size: x-large;
    text-align: center;
    color: #D9B01C;
    background-color :#434f43;
    margin-bottom: 1rem;
    
}
.article2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: center;
    background-color :#434f43;
    color: #D9B01C; 
    margin-bottom: 1rem;  
}
.article3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: center;
    background-color :#434f43;
    color: #D9B01C;   
}

