.slick-slide {
  transition: opacity 0.5s ease-in-out;
}

.slick-slide.slick-current {
  opacity: 1;
}

.slick-slide:not(.slick-current) {
  opacity: 0.5;
} 
.custom-button {
  transition: transform 0.3s ease-in-out;
}
*/
.custom-button:hover {
  transform: scale(1.1);
}

/* Ou ajoutez une rotation à 360 degrés */
.icone {
  transition: transform 0.5s ease-in-out;
}

.icone:hover {
  transform: rotate(20deg);
}

.slide-1{
  background-size : cover;
  background-image:linear-gradient(
      to bottom,
      rgba(0, 51, 51, 0.2),
      rgba(0, 51, 51, 0.2)
    ), url('https://images.unsplash.com/photo-1511895654441-f6a0e1db5cbd?q=80&w=1779&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.slide-2{
  background-size : cover;
  background-image:linear-gradient(
      to bottom,
      rgba(0, 51, 51, 0.4),
      rgba(0, 51, 51, 0.4)
    ), url('https://images.unsplash.com/photo-1495283897339-a5736d2c12b2?q=80&w=1983&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.slide-3{
  background-size : cover;
  background-image:linear-gradient(
      to bottom,
      rgba(0, 51, 51, 0.3),
      rgba(0, 51, 51, 0.3)
    ), url('https://images.unsplash.com/photo-1519181245277-cffeb31da2e3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.slide-4{
  background-size : cover;
  background-image:linear-gradient(
      to bottom,
      rgba(0, 51, 51, 0.4),
      rgba(0, 51, 51, 0.4)
    ), url('https://images.unsplash.com/photo-1530103862676-de8c9debad1d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.slide-5{
  background-size : cover;
  background-image:linear-gradient(
      to bottom,
      rgba(0, 51, 51, 0.4),
      rgba(0, 51, 51, 0.4)
    ), url('https://images.unsplash.com/photo-1546472585-e7d35e6e68a9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.slide-6{
  background-size : cover;
  background-image:linear-gradient(
      to bottom,
      rgba(0, 51, 51, 0.4),
      rgba(0, 51, 51, 0.4)
    ), url('https://images.unsplash.com/photo-1549276756-ccdaccdab8fc?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.custom-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.custom-button {
  width: 70px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button i {
  color: #fff;
  font-size: 15px;
}
.icone{
  width: 100%;
  height: auto;
}
/* Style pour les diapositives du slider */
.slider{
  width: 80%;
  margin: 0 auto;
}
.slide-1:hover{
  transition : all 1s ease-in-out;
  transform: scale(1.1);
  overflow: hidden;
 }
.slide-2:hover{
  transition : all 1s ease-in-out;
  transform: scale(1.1);
 }
.slide-3:hover{
  transition : all 1s ease-in-out;
  transform: scale(1.1);
 }
.slide-4:hover{
  transition : all 1s ease-in-out;
  transform: scale(1.1);
 }
.slide-5:hover{
  transition : all 1s ease-in-out;
  transform: scale(1.1);
 }
.slide-6:hover{
  transition : all 1s ease-in-out;
  transform: scale(1.1);
 }


